<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/dist/main.css}"/>
    <script defer th:src="@{/dist/main.js}"></script>
    <title>Login</title>
</head>
<body>

<div class="h-screen flex flex-col justify-center items-center">

    <form method="post" th:action="@{/app/login}">
        <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">

            <legend class="fieldset-legend">Login</legend>

            <label class="fieldset-label flex flex-col items-start">
                Email
                <input class="input" name="username" placeholder="username" required type="text"/>
            </label>

            <label class="fieldset-label flex flex-col items-start">
                Password
                <input class="input" name="password" placeholder="password" required type="password"/>
            </label>

            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

            <button class="btn btn-neutral mt-4" type="submit">Login</button>

        </fieldset>
    </form>

    <div class="alert alert-error alert-soft mt-5" role="alert" th:if="${param.error}">
        <svg class="h-6 w-6 shrink-0 stroke-current"
             fill="none"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"/>
        </svg>
        <span>Ups... Looks like your username and password are incorrect</span>
    </div>

</div>


</body>
</html>