<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/dist/main.css}" rel="stylesheet"/>
    <script th:src="@{/dist/main.js}" defer></script>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<form th:hx-post="@{/app/appusers/login}"
      hx-target="#error-message"
      hx-swap="innerHTML">
    <input type="text" id="username" name="username" aria-label="username" placeholder="username" required>
    <input type="password" id="password" name="password" aria-label="password" placeholder="password" required>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button type="submit">Login</button>
</form>

<div id="error-message"></div>

</body>
</html>