<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/dist/main.css}" rel="stylesheet"/>
    <script th:src="@{/dist/main.js}" defer></script>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/app/login}" method="post">
    <label>
        <input type="text" name="username" placeholder="Username"/>
    </label>
    <label>
        <input type="password" name="password" placeholder="Password"/>
    </label>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>